.wrapper{
  background-color: #fff;
  height: 200px;
  width: 100%;
  display: table;
}
.content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* 设置组件整个视图层的背景图片 */
.component-background {
  background-image: url('../../assets/example/login4.png');
  background-size: cover; /* 根据需要调整背景大小 */
  background-repeat: no-repeat;
  background-attachment: fixed; /* 使背景图片固定 */
  /*background-color: #030303;*/
}

.text-color-white {
  color: white;
}

