<body class="component-background">
  <div class="container-fluid">
    <div class="content">
      <h1 class="mt-5 text-color-white">{{title}}</h1>
      <div class="mt-4">
        <img src="./assets/icons/node_record.ico" style="width: 40%; height: 40%">
      </div>
      <div align="center">
        <div class="mt-5" style="width: 25em">
          <div class="row mt-2">
            <label class="col-sm-3 text-right col-form-label mt-1 text-color-white text-center"><code>*</code>请输入密码:</label>
            <div class="col-sm-7">
              <input type="password" class="col-sm-3 m-lg-1 form-control" [formControl]="password" style="width: 200px">
              <small>
                <span *ngIf="isPasswordError" class="text-danger">密码错误，请重新输入</span>
              </small>
            </div>
          </div>
          <button style="width: 200px" class="btn btn-block btn-primary mt-3" [disabled]="!init" (click)="login()">登 录</button>
        </div>
      </div>
    </div>
  </div>
</body>
