<h2 class="accordion-header" id="score-heading">
  <button #accordionButton class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#score-collapse" aria-expanded="true" aria-controls="score-collapse">
    <span style="font-size: 1.8em">健康状态评分</span>
    <span class="mx-2" style="font-size: 1em">总数据条数: {{ allScores.length }}</span>
    <span class="mx-2" style="font-size: 1em">最近更新时间: {{ lastUpdateTime | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
  </button>
</h2>
<div id="score-collapse" class="accordion-collapse collapse show" aria-labelledby="score-heading">
  <div class="accordion-body">
    <div class="row">
      <div class="col-6 text-center">
        <app-chart [mergeOption]="echartsOption"></app-chart>
      </div>
      <div class="col-4">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">序号</th>
            <th scope="col">时间</th>
            <th scope="col">评分</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of scores; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.createTime | date: 'yyyy-MM-dd' }}</td>
            <td>{{ item.value }}</td>
          </tr>
          <tr>
            <td colspan="3" class="text-center">
              <button class="btn btn-sm btn-outline-primary" (click)="onModalOpen('add')">
                <i class="fa-solid fa-plus mx-1"></i>
                更新健康状态评分
              </button>
              &nbsp;
              <button class="btn btn-sm btn-outline-info" (click)="onModalOpen('more')">
                <i class="fa-solid fa-search mx-1"></i>
                查看更多
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-yz-modal *ngIf="isShowAddModal" class="overflow-auto" [width]="(APP_CONFIG.modalWidthNumber) + 'px'">
  <div class="text-end m-3">
    <button type="button" class="btn-close" aria-label="Close" (click)="onModalClose('add')"></button>
  </div>
  <form [formGroup]="addGroup">
    <div class="mb-3 row">
      <label for="date" class="col-sm-3 col-form-label offset-1">时间</label>
      <div class="col-sm-7">
        <input type="date" formControlName="createDate" class="form-control" id="date">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="score" class="col-sm-3 col-form-label offset-1">评分</label>
      <div class="col-sm-7">
        <input type="number" formControlName="value" class="form-control" id="score">
        <small>
          <span *ngIf="addGroup.get('value')?.value! > 100" class="text-danger">分数不能大于100</span>
        </small>
      </div>
    </div>
    <div class="text-end mx-5 mb-4">
      <button class="btn btn-primary" [disabled]="addGroup.invalid || (addGroup.get('value')?.value! > 100)" (click)="onSaveSubmit()">保存</button>
    </div>
  </form>
</app-yz-modal>

<app-yz-modal *ngIf="isShowMoreModal && !isShowEditModal" [width]="(APP_CONFIG.modalWidthNumber + APP_CONFIG.extraModalWidNum)  + 'px'">
  <div class="text-end m-3">
    <button type="button" class="btn-close" aria-label="Close" (click)="onModalClose('more')"></button>
  </div>
  <div class="overflow-auto px-3">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th scope="col">序号</th>
        <th scope="col">时间</th>
        <th scope="col">评分</th>
        <th scope="col">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of allScores; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.createTime | date: 'yyyy-MM-dd' }}</td>
        <td>{{ item.value }}</td>
        <td>
          <span (click)="onDelete(item)" style="cursor: pointer" title="删除">
            <i class="fa-solid fa-trash-can" style="color: #ed3330;"></i>
          </span>
          <span (click)="onEdit(item)" style="cursor: pointer" title="修改" class="mx-3">
            <i class="fa-solid fa-pen-to-square" style="color: #3574F0;"></i>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</app-yz-modal>

<app-yz-modal *ngIf="isShowEditModal" [width]="(APP_CONFIG.modalWidthNumber) + 'px'">
  <div class="text-end m-3">
    <button type="button" class="btn-close" aria-label="Close" (click)="onModalClose('edit')"></button>
  </div>
  <form [formGroup]="editGroup">
    <div class="mb-3 row">
      <label for="dateForEdit" class="col-sm-3 col-form-label offset-1">时间</label>
      <div class="col-sm-7">
        <input type="date" formControlName="createDate" class="form-control" id="dateForEdit">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="scoreForEdit" class="col-sm-3 col-form-label offset-1">评分</label>
      <div class="col-sm-7">
        <input type="number" formControlName="value" class="form-control" id="scoreForEdit">
        <small>
          <span *ngIf="editGroup.get('value')?.value! > 100" class="text-danger">分数不能大于100</span>
        </small>
      </div>
    </div>
    <div class="text-end mx-5 mb-4">
      <button class="btn btn-primary" [disabled]="editGroup.invalid || (editGroup.get('value')?.value! > 100)" (click)="onEditSubmit()">提交</button>
    </div>
  </form>
</app-yz-modal>

