<h2 class="accordion-header" id="dielectric-parameter-heading">
    <button #accordionButton class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dielectric-parameter-collapse" aria-expanded="false" aria-controls="dielectric-parameter-collapse">
<!--  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#dielectric-parameter-collapse" aria-expanded="true" aria-controls="dielectric-parameter-collapse">-->
      <span style="font-size: 1.3em">频域介电参数</span>
      <span class="mx-2" style="font-size: 1em">总数据条数: {{ dielectricParameters.length }}</span>
      <span class="mx-2" style="font-size: 1em">最近更新时间: {{ lastUpdateTime | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
  </button>
</h2>
<div id="dielectric-parameter-collapse" class="accordion-collapse collapse" aria-labelledby="dielectric-parameter-heading">
<!--<div id="dielectric-parameter-collapse" class="accordion-collapse show" aria-labelledby="dielectric-parameter-heading">-->
  <div class="accordion-body">
    <div class="row">
      <div class="col-6 text-center">
        <app-chart [mergeOption]="echartsOption"></app-chart>
      </div>
      <div class="col-4">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">序号</th>
            <th scope="col">时间</th>
            <th scope="col">操作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let dielectricParameter of dielectricParameters; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ dielectricParameter.createTime | date: 'yyyy-MM-dd'  }}</td>
            <td>
              <button class="btn btn-sm btn-outline-info mx-2" (click)="onModalOpenForDate(dielectricParameter.id)">查看数据</button>
              <button class="btn btn-sm btn-outline-danger mx-2" (click)="onDPDelete(dielectricParameter)">删除</button>
            </td>
          </tr>
          <tr>
            <td colspan="3" class="addData text-center">
              <button class="btn btn-sm btn-outline-primary" (click)="onModalOpen()">
                <i class="fa-solid fa-plus mx-1"></i>
                添加
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-yz-modal *ngIf="isShowModal" [width]="(APP_CONFIG.modalWidthNumber) + 'px'">
  <form [formGroup]="formGroup">
    <div class="text-end m-3">
      <button type="button" class="btn-close" aria-label="Close" (click)="onModalClose()"></button>
    </div>
    <div class="mb-3 row">
      <label for="date" class="col-sm-3 col-form-label offset-1">时间</label>
      <div class="col-sm-7">
        <input type="date" class="form-control" id="date" formControlName="createTime">
      </div>
    </div>
    <div class="text-end mx-5 mb-4">
      <button class="btn btn-primary" [disabled]="formGroup.invalid" (click)="onSubmit(formGroup)">保存</button>
    </div>
  </form>
</app-yz-modal>

<app-yz-modal *ngIf="isShowModalForDate" [width]="(APP_CONFIG.modalWidthNumber + APP_CONFIG.extraModalWidNum) + 'px'">
  <div class="row mt-3">
    <div class="col" style="padding-left: 5%" *ngIf="!isEditingDate">
      <b>创建时间：{{ currentDielectricParameter?.createTime | date: 'yyyy-MM-dd' }}</b>
      <button class="btn btn-sm px-2" (click)="onStartEditDate()">
        <i class="fa-solid fa-pen-to-square" style="color: #3574F0;"></i>
      </button>
    </div>
    <div class="col" style="padding-left: 5%" *ngIf="isEditingDate">
      <div class="row">
        <label class="col-3 text-start">
          创建时间
        </label>
        <div class="col">
          <input [formControl]="dateControl" class="form-control form-control-sm" type="date" />
        </div>
        <div class="col">
          <button class="btn btn-sm px-3" (click)="isEditingDate = false">
            <i class="fa-solid fa-close"></i>
          </button>
          <button [hidden]="dateControl.invalid" class="btn btn-sm  px-3" (click)="onEditDate()">
            <i class="fa-solid fa-check" style="color: green;"></i>
          </button>
        </div>
      </div>


    </div>
    <div class="col-2" style="text-align: end; padding-right: 4%">
      <button type="button" class="btn-close" aria-label="Close" (click)="onModalCloseForDate()"></button>
    </div>
  </div>
  <div class="overflow-auto p-3">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">序号</th>
        <th scope="col">频率(Hz)</th>
        <th scope="col">Tg δ</th>
        <th scope="col">测试电压值(V)</th>
        <th scope="col">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dielectricParameterItem of dielectricParameterItems; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <div *ngIf="!isShowItemEditModal  || currentEditDielectricParameterItem?.id !== dielectricParameterItem.id">
            {{ dielectricParameterItem.frequency }}
          </div>
          <div *ngIf="!(!isShowItemEditModal  || currentEditDielectricParameterItem?.id !== dielectricParameterItem.id)">
            <form [formGroup]="formGroupForAdd" style="width: 150px">
              <input type="number" class="form-control" formControlName="frequency">
            </form>
          </div>
        </td>
        <td>
          <div *ngIf="!isShowItemEditModal  || currentEditDielectricParameterItem?.id !== dielectricParameterItem.id">
            {{ dielectricParameterItem.value }}
          </div>
          <div *ngIf="!(!isShowItemEditModal  || currentEditDielectricParameterItem?.id !== dielectricParameterItem.id)">
            <form [formGroup]="formGroupForAdd" style="width: 150px">
              <input type="number" class="form-control" formControlName="value">
            </form>
          </div>
        </td>
        <td>
          <div *ngIf="!isShowItemEditModal  || currentEditDielectricParameterItem?.id !== dielectricParameterItem.id">
            {{ dielectricParameterItem.V }}
          </div>
          <div *ngIf="!(!isShowItemEditModal  || currentEditDielectricParameterItem?.id !== dielectricParameterItem.id)">
            <form [formGroup]="formGroupForAdd" style="width: 150px">
              <input type="number" class="form-control" formControlName="V">
            </form>
          </div>
        </td>
        <td>
          <div *ngIf="!isShowItemEditModal  || currentEditDielectricParameterItem?.id !== dielectricParameterItem.id">
            <span style="cursor: pointer" (click)="onDPItemDelete(dielectricParameterItem)" title="删除" class="mx-2">
              <i class="fa-solid fa-trash-can" style="color: #ed3330;"></i>
            </span>
              <span *ngIf="!isShowModalForAdd" style="cursor: pointer" (click)="onItemEditModalOpen(dielectricParameterItem)" title="修改" class="mx-2">
              <i class="fa-solid fa-pen-to-square" style="color: #3574F0;"></i>
            </span>
          </div>
          <div *ngIf="!(!isShowItemEditModal  || currentEditDielectricParameterItem?.id !== dielectricParameterItem.id)">
            <button style="cursor: pointer" class="btn btn-light mx-2" (click)="onItemEditModalClose()">
              <i class="fa-solid fa-close"></i>
            </button>
            <button type="button" style="cursor: pointer" class="btn btn-light mx-2" [disabled]="formGroupForAdd.invalid" (click)="onItemEditSubmit(formGroupForAdd)">
              <i class="fa-solid fa-check" style="color: green;"></i>
            </button>
          </div>
        </td>
      </tr>
      <tr *ngIf="isShowModalForAdd">
        <td>
          <b>
            {{ dielectricParameterItems.length + 1 }}
          </b>
        </td>
        <td>
          <form [formGroup]="formGroupForAdd" style="width: 150px">
            <input type="number" class="form-control" formControlName="frequency">
          </form>
        </td>
        <td>
          <form [formGroup]="formGroupForAdd" style="width: 150px">
            <input type="number" class="form-control" formControlName="value">
          </form>
        </td>
        <td>
          <form [formGroup]="formGroupForAdd" style="width: 150px">
            <input type="number" class="form-control" formControlName="V">
          </form>
        </td>
        <td>
          <button style="cursor: pointer" class="btn btn-light mx-2" (click)="onModalCloseForAdd()">
            <i class="fa-solid fa-close"></i>
          </button>
          <button type="button" style="cursor: pointer" class="btn btn-light mx-2" [disabled]="formGroupForAdd.invalid" (click)="onSubmitForAddItem(formGroupForAdd)">
            <i class="fa-solid fa-check" style="color: green;"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf="!isShowModalForAdd && !isShowItemEditModal">
        <td colspan="5" class="addData text-center">
          <button class="btn btn-sm btn-outline-primary" (click)="onModalOpenForAdd()">
            <i class="fa-solid fa-plus mx-1"></i>
            添加
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</app-yz-modal>
